In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_id = test['id']

In [22]:
test = test.drop(['id'] , axis=1)

In [23]:
test

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9500,1,1,141.0,1,3,1,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,1,1,1,9238,1,1,128.0,1,1,19,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,1,1,1,9238,1,1,118.0,1,1,19,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,1,44,1,9147,1,39,130.0,1,1,19,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,1,39,1,9670,1,1,110.0,1,1,37,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51007,1,1,2,171,1,1,128.0,1,38,37,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51008,2,39,1,9119,1,19,133.1,1,19,37,...,0,0,5,5,0,0.000000,0,9.4,-0.8,-3.12
51009,1,1,1,171,1,1,127.0,1,1,1,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51010,1,1,3,9773,1,1,132.0,1,19,19,...,0,0,6,9,3,13.000000,0,7.6,2.6,0.32
51011,1,1,1,171,1,1,129.0,1,37,38,...,0,0,0,0,0,0.000000,0,7.6,2.6,0.32

In [24]:
data.columns

Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def data_preprocessing (data):
    data = data.drop(columns = ["id"])
    data["Target"] = le.fit_transform(data["Target"])
    return data

data = data_preprocessing(data)

In [26]:
from sklearn.model_selection import train_test_split
X = data.drop(columns = ["Target"])
y = data["Target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler , RobustScaler
scaler =RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.feature_selection import SelectFromModel
import lightgbm as lgb

#model = RandomForestClassifier(n_estimators=100, max_depth=20, random_state=42)
from sklearn.model_selection import GridSearchCV , RandomizedSearchCV
from xgboost import XGBClassifier

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 200, 500],
    'max_depth': [10, 20, 30, -1],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'subsample': [0.7, 0.8, 0.9, 1.0],
    'num_leaves': [31, 50, 100, 200],
    'min_child_samples': [10, 20, 30, 50],
    'min_child_weight': [1e-3, 1e-2, 0.1, 1, 10],
    'colsample_bytree': [0.7, 0.8, 0.9, 1.0],
    'reg_alpha': [0, 0.1, 0.5, 1.0],
    'reg_lambda': [0, 0.1, 0.5, 1.0],
}

# Initialize the XGBoost classifier
xgb_model = lgb.LGBMClassifier(random_state=42 )

# Initialize Grid Search
grid_search = RandomizedSearchCV(estimator=xgb_model,param_distributions=param_grid, cv=3, scoring='accuracy', n_jobs=-1, verbose=2 )

# Fit the model
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print("Best parameters found: ", best_params)

# Train the model with the best parameters
model = lgb.LGBMClassifier(
    n_estimators=best_params['n_estimators'],
    max_depth=best_params['max_depth'],
    learning_rate=best_params['learning_rate'],
    subsample=best_params['subsample'],
    num_leaves=best_params['num_leaves'],
    min_child_samples=best_params['min_child_samples'],
    min_child_weight=best_params['min_child_weight'],
    colsample_bytree=best_params['colsample_bytree'],
    reg_alpha=best_params['reg_alpha'],
    reg_lambda=best_params['reg_lambda'],
    random_state=42,
)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.600919 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1338
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Start training from score -1.635857
[LightGBM] [Info] Start training from score -0.746314
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.886446 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1341
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 1.031408 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1338
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.905865 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1345
[LightGBM] [Info] Number of data points in the train set: 40810, number of used features: 36
[LightGBM] [Info] Start training from score -1.635982
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Start training from score -1.105349
[LightGBM] [Info] Start training from score -0.746262
[LightGBM] [Info] Start training from score -1.635857
[LightGBM] [Info] Start training from score -0.746314
[LightGBM] [Info] Start training from score -1.635881
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 1.033446 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1341
[LightGBM] [Info] Start training from score -0.746286
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 1.231297 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1341
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Start training from score -1.635982
[LightGBM] [Info] Start training from score -1.635982
[LightGBM] [Info] Start training from score -0.746262
[LightGBM] [Info] Start training from score -0.746262
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 1.181952 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1345
[LightGBM] [Info] Number of data points in the train set: 40810, number of used features: 36
[LightGBM] [Info] Start training from score -1.105349
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 1.094226 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1338
[LightGBM] [Info] Start training from score -1.635881
[LightGBM] [Info] Start training from score -0.746286
[LightGBM] [Info] Number of data points in the train set: 40809, number of used features: 36
[LightGBM] [Info] Start training from score -1.105324
[LightGBM] [Info] Start training from score -1.635857
[LightGBM] [Info] Start training from score -0.746314

In [ ]:
model.fit(X_train , y_train)

In [29]:
model.score(X_test , y_test)

NameError: name 'model' is not defined

In [ ]:
test = scaler.transform(test)

In [ ]:
y_predicted = model.predict(test)
y_predicted

array([0, 2, 2, ..., 0, 0, 0])

In [ ]:
y_predicted = le.inverse_transform(y_predicted)

In [ ]:
y_predicted[000:700]

array(['Dropout', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Dropout',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Dropout', 'Enrolled', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Dropout', 'Enrolled', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Enrolled', 'Dropout', 'Graduate', 'Enrolled',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Dropout', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Enrolled', 'Enrolled', 'Enrolled', 'Graduate', 'Enrolled',
       'Enrolled', 'Enrolled', 'Dropout', 'Dropout', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Dropout', 'Enrolled', 'Enrolled', 'Enrolled', 'Dropout',
       'Dropout', 'Dropout', 'Enrolled', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Dropout', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Enrolled',
       'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Graduate',
       'Dropout', 'Enrolled', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Dropout', 'Dropout', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Enrolled', 'Enrolled', 'Dropout',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Enrolled', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Enrolled', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Enrolled', 'Enrolled', 'Enrolled', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Enrolled',
       'Dropout', 'Graduate', 'Enrolled', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Enrolled', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Enrolled', 'Graduate',
       'Enrolled', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Dropout', 'Enrolled', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Enrolled', 'Dropout', 'Enrolled', 'Enrolled',
       'Dropout', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Enrolled',
       'Dropout', 'Enrolled', 'Enrolled', 'Graduate', 'Enrolled',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Enrolled', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Enrolled', 'Enrolled',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Enrolled', 'Enrolled', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Graduate', 'Enrolled', 'Graduate', 'Enrolled', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout'], dtype=object)

In [ ]:
submission = pd.DataFrame({"id":test_id , "Target": y_predicted})

In [ ]:
submission.to_csv("submission9.csv" , index=False)