In [154]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [155]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_id = test['id']

In [156]:
test = test.drop(['id'] , axis=1)

In [157]:
test

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,1,1,9500,1,1,141.0,1,3,1,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,1,1,1,9238,1,1,128.0,1,1,19,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,1,1,1,9238,1,1,118.0,1,1,19,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,1,44,1,9147,1,39,130.0,1,1,19,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,1,39,1,9670,1,1,110.0,1,1,37,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51007,1,1,2,171,1,1,128.0,1,38,37,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51008,2,39,1,9119,1,19,133.1,1,19,37,...,0,0,5,5,0,0.000000,0,9.4,-0.8,-3.12
51009,1,1,1,171,1,1,127.0,1,1,1,...,0,0,0,0,0,0.000000,0,15.5,2.8,-4.06
51010,1,1,3,9773,1,1,132.0,1,19,19,...,0,0,6,9,3,13.000000,0,7.6,2.6,0.32
51011,1,1,1,171,1,1,129.0,1,37,38,...,0,0,0,0,0,0.000000,0,7.6,2.6,0.32

In [158]:
data

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,6,8,5,10.600000,0,13.9,-0.3,0.79,Graduate
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,6,9,6,13.875000,0,9.4,-0.8,-3.12,Graduate
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,0,5,8,5,11.400000,1,9.4,-0.8,-3.12,Enrolled
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,6,0,0,0.000000,0,7.6,2.6,0.32,Dropout
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,6,6,6,13.666667,0,15.5,2.8,-4.06,Graduate

In [159]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def data_preprocessing (data):
    data = data.drop(columns = ["id"])
    data["Target"] = le.fit_transform(data["Target"])
    return data

data = data_preprocessing(data)

In [160]:
from sklearn.model_selection import train_test_split
X = data.drop(columns = ["Target"])
y = data["Target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [161]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler , RobustScaler
scaler =RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [162]:
from sklearn.ensemble import RandomForestClassifier 
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#model = RandomForestClassifier(n_estimators=100, max_depth=20, random_state=42)
model = XGBClassifier(
    n_estimators=1000,
    max_depth=20,
    learning_rate=0.1,
    subsample=0.9,
    colsample_bytree=0.9,
    random_state=42
)

model.fit(X_train , y_train)

In [ ]:
model.score(X_test , y_test)

0.8284762153685311

In [ ]:
test = scaler.transform(test)

In [ ]:
y_predicted = model.predict(test)
y_predicted

array([0, 2, 2, ..., 0, 0, 0])

In [ ]:
y_predicted = le.inverse_transform(y_predicted)

In [ ]:
y_predicted[000:700]

array(['Dropout', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Dropout',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Dropout', 'Enrolled', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Dropout', 'Enrolled', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Enrolled', 'Dropout', 'Graduate', 'Enrolled',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Enrolled', 'Dropout', 'Enrolled', 'Dropout',
       'Enrolled', 'Enrolled', 'Enrolled', 'Enrolled', 'Graduate',
       'Enrolled', 'Enrolled', 'Enrolled', 'Dropout', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Dropout', 'Dropout', 'Enrolled', 'Enrolled', 'Enrolled',
       'Dropout', 'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Enrolled',
       'Graduate', 'Dropout', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Dropout', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Enrolled',
       'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Enrolled', 'Graduate',
       'Dropout', 'Enrolled', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Dropout', 'Dropout', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Enrolled',
       'Dropout', 'Dropout', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Enrolled', 'Enrolled', 'Dropout',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Enrolled',
       'Enrolled', 'Graduate', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Enrolled', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Enrolled', 'Enrolled', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Graduate', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Enrolled',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Enrolled',
       'Dropout', 'Graduate', 'Graduate', 'Enrolled', 'Dropout',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Enrolled',
       'Graduate', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Enrolled', 'Enrolled', 'Enrolled', 'Graduate',
       'Graduate', 'Graduate', 'Enrolled', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Enrolled', 'Dropout', 'Graduate', 'Enrolled',
       'Dropout', 'Graduate', 'Dropout', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Dropout',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Enrolled', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Graduate', 'Dropout', 'Dropout', 'Enrolled', 'Dropout',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Enrolled', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Dropout', 'Enrolled', 'Dropout', 'Graduate',
       'Enrolled', 'Enrolled', 'Dropout', 'Dropout', 'Graduate',
       'Enrolled', 'Graduate', 'Dropout', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Enrolled', 'Enrolled', 'Graduate',
       'Enrolled', 'Dropout', 'Graduate', 'Dropout', 'Dropout',
       'Enrolled', 'Dropout', 'Enrolled', 'Graduate', 'Dropout',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Dropout', 'Enrolled', 'Dropout', 'Enrolled', 'Enrolled',
       'Dropout', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Enrolled', 'Graduate', 'Enrolled', 'Graduate', 'Dropout',
       'Enrolled', 'Graduate', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Graduate', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Dropout', 'Graduate', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Dropout',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Graduate', 'Dropout', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Enrolled', 'Dropout', 'Enrolled', 'Enrolled', 'Graduate',
       'Dropout', 'Dropout', 'Graduate', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Dropout', 'Dropout', 'Dropout',
       'Graduate', 'Enrolled', 'Enrolled', 'Graduate', 'Graduate',
       'Graduate', 'Enrolled', 'Graduate', 'Dropout', 'Enrolled',
       'Enrolled', 'Graduate', 'Graduate', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Graduate', 'Dropout', 'Graduate',
       'Graduate', 'Graduate', 'Enrolled', 'Dropout', 'Graduate',
       'Dropout', 'Graduate', 'Enrolled', 'Enrolled', 'Graduate',
       'Dropout', 'Graduate', 'Dropout', 'Dropout', 'Dropout', 'Graduate',
       'Graduate', 'Enrolled', 'Graduate', 'Enrolled', 'Dropout',
       'Graduate', 'Dropout', 'Dropout', 'Graduate', 'Graduate',
       'Dropout'], dtype=object)

In [ ]:
submission = pd.DataFrame({"id":test_id , "Target": y_predicted})

In [ ]:
submission.to_csv("submission6.csv" , index=False)